<ion-content>
    <ion-list>
        @for (group of subwikis; track group) {

            @if (group.label) {
                <ion-item-divider>
                    <ion-label>
                        <core-format-text [text]="group.label" contextLevel="course" [contextInstanceId]="courseId" [wsNotFiltered]="true"
                            class="item-heading" />
                    </ion-label>
                </ion-item-divider>
            }
            @for (subwiki of group.subwikis; track subwiki) {
                <ion-item class="ion-text-wrap" (click)="openSubwiki(subwiki)" button
                    [attr.aria-current]="isSubwikiSelected(subwiki) ? 'page' : 'false'" [detail]="false">
                    <ion-label>
                        <core-format-text [text]="subwiki.name" contextLevel="course" [contextInstanceId]="courseId"
                            [wsNotFiltered]="true" />
                    </ion-label>
                    @if (isSubwikiSelected(subwiki)) {
                        <ion-icon name="fas-check" slot="end" aria-hidden="true" />
                    }
                </ion-item>
            }

        }
    </ion-list>
</ion-content>
