<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [text]="'core.back' | translate" />
        </ion-buttons>
        <ion-title>
            <h1>
                <core-format-text [text]="title" contextLevel="module" [contextInstanceId]="moduleId" [courseId]="courseId" />
            </h1>
        </ion-title>

        <ion-buttons slot="end" />
    </ion-toolbar>
</ion-header>

<ion-content>
    <core-split-view>
        <ion-refresher slot="fixed" [disabled]="!submissions.loaded" (ionRefresh)="refreshList($event.target)">
            <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}" />
        </ion-refresher>
        <core-loading [hideUntil]="submissions.loaded">
            <ion-list>
                <core-group-selector [groupInfo]="groupInfo" [(selected)]="groupId" (selectedChange)="reloadSubmissions()"
                    [courseId]="courseId" />

                <!-- List of submissions. -->
                @for (submission of submissions.items; track submission) {

                    <ion-item class="ion-text-wrap" (click)="submissions.select(submission)" button
                        [attr.aria-current]="submissions.getItemAriaCurrent(submission)" [detail]="true">
                        <core-user-avatar [user]="submission" [linkProfile]="false" slot="start" />
                        <ion-label>
                            @if (submission.userfullname) {
                                <p class="item-heading">{{submission.userfullname}}</p>
                            }
                            @if (!submission.userfullname) {
                                <p class="item-heading">
                                    {{ 'addon.mod_assign.hiddenuser' | translate }}{{submission.blindid}}
                                </p>
                            }
                            @if (assign && assign!.teamsubmission) {
                                <p>
                                    @if (submission.groupname) {
                                        <span class="core-groupname">
                                            <core-format-text [text]="submission.groupname" contextLevel="course"
                                                [contextInstanceId]="courseId" />
                                        </span>
                                    }
                                    @if (assign!.preventsubmissionnotingroup && !submission.groupname && submission.noGroups
                                    && !submission.blindid) {
                                        <span class="text-danger">
                                            {{ 'addon.mod_assign.noteam' | translate }}
                                        </span>
                                    }
                                    @if (assign!.preventsubmissionnotingroup && !submission.groupname && submission.manyGroups
                                    && !submission.blindid) {
                                        <span class="text-danger">
                                            {{ 'addon.mod_assign.multipleteams' | translate }}
                                        </span>
                                    }
                                    @if (!assign!.preventsubmissionnotingroup && !submission.groupname) {
                                        <span>
                                            {{ 'addon.mod_assign.defaultteam' | translate }}
                                        </span>
                                    }
                                </p>
                            }
                            @if (submission.statusTranslated) {
                                <p>
                                    <ion-badge class="ion-text-start ion-text-wrap" [color]="submission.statusColor">
                                        {{ submission.statusTranslated }}
                                    </ion-badge>
                                </p>
                            }
                            @if (submission.gradingStatusTranslationId) {
                                <p>
                                    <ion-badge class="ion-text-start ion-text-wrap" [color]="submission.gradingColor">
                                        {{ submission.gradingStatusTranslationId | translate }}
                                    </ion-badge>
                                </p>
                            }
                        </ion-label>
                    </ion-item>

                }
            </ion-list>

            @if (!submissions || submissions.empty) {
                <core-empty-box icon="fas-file-signature" [message]="'addon.mod_assign.submissionstatus_' | translate" />
            }
        </core-loading>
    </core-split-view>
</ion-content>
