@if (showLogo && logoLoaded) {
    <div class="core-logo-container">
        @if (siteLogo) {
            <img [src]="siteLogo" class="core-logo" [alt]="'core.login.logoof' | translate: { $a: siteName }" core-external-content
                [siteId]="siteId" (error)="imageError()">
        }
        @if (!siteLogo) {
            <img [src]="fallbackLogo" class="core-logo" [alt]="'core.login.logoof' | translate: { $a: appName }">
        }
    </div>
}

@if (showSiteName && siteNameMode === 'p' && siteName) {
    <p class="ion-no-margin ion-no-padding core-logo-sitename">
        <core-format-text [text]="siteName" contextLevel="system" [contextInstanceId]="0" [siteId]="siteId" />
    </p>
}
@if (showSiteName && siteNameMode === '' && siteName) {
    <core-format-text [text]="siteName" contextLevel="system" [contextInstanceId]="0" class="core-logo-sitename" [siteId]="siteId" />
}
@if (showSiteName && siteNameMode === 'h2' && siteName) {
    <h2 class="ion-margin-top ion-no-padding core-logo-sitename">
        <core-format-text [text]="siteName" contextLevel="system" [contextInstanceId]="0" [siteId]="siteId" />
    </h2>
}
