@if (showInline && contentText) {

    <core-format-text [text]="contentText" [filter]="false" />

}
@for (file of files; track file; let i = $index) {

    <!-- Files already attached to the filearea. -->
    @if (!file.name && !file.embedType) {
        <core-file [file]="file" [component]="component" [componentId]="componentId" [alwaysDownload]="alwaysDownload"
            [canDownload]="canDownload" [showSize]="showSize" [showTime]="showTime" />
    }

    <!-- Files stored in offline to be sent later. -->
    @if (file.name && !file.embedType) {
        <core-local-file [file]="file" />
    }

    @if (extraHtml && extraHtml[i]) {
        <ion-item class="ion-text-wrap">
            <ion-label>
                <core-format-text [component]="component" [componentId]="componentId" [text]="extraHtml[i]" />
            </ion-label>
        </ion-item>
    }

}
