<!-- ReCAPTCHA V2 -->
@if (publicKey && siteUrl && model) {
    <div>
        <!-- A button to open the recaptcha modal. -->
        @if (!model[modelValueName]) {
            <ion-button expand="block" fill="outline" class="ion-margin" (click)="answerRecaptcha()">
                {{ 'core.opensecurityquestion' | translate }}
            </ion-button>
        }
        @if (model[modelValueName]) {
            <ion-item>
                <ion-label color="success">{{ 'core.answered' | translate }}</ion-label>
            </ion-item>
        }
        @if (expired) {
            <ion-item class="ion-text-wrap core-input-error">
                <ion-label color="danger">{{ 'core.login.recaptchaexpired' | translate }}</ion-label>
            </ion-item>
        }
        @if (showRequiredError && !model[modelValueName] && !expired) {
            <ion-item class="ion-text-wrap core-input-error">
                <ion-label color="danger">{{ 'core.required' | translate }}</ion-label>
            </ion-item>
        }
    </div>
}
