ion-content.core-focus-mode-content {
    --background: #000000;
    background: var(--background);

    img, video, iframe {
        display: none !important;
    }

    [core-focus-mode] {
        * {
            --text-color: #ffffff;
            color: var(--text-color);
        }
    }

    .hide-on-focus-mode {
        display: none !important;
    }
}

page-core-viewer-text ion-content.core-focus-mode-content * {
    --text-color: #ffffff;
    color: var(--text-color);
}
