<core-loading [hideUntil]="loaded">
    <div class="list-item-limited-width">
        <!-- Time limit is over. -->
        @if (timeLimitFinished && (canEdit || canSubmit)) {
            <ion-card class="core-danger-card">
                <ion-item class="ion-text-wrap">
                    <ion-icon name="fas-triangle-exclamation" slot="start" aria-hidden="true" />
                    <ion-label>
                        <p>{{ 'addon.mod_assign.caneditsubmission' | translate }}</p>
                    </ion-label>
                </ion-item>
            </ion-card>
        }

        <!-- User and status of the submission. -->
        @if (!blindMarking && user) {
            <ion-item class="ion-text-wrap" core-user-link [userId]="submitId" [courseId]="courseId" [attr.aria-label]="user!.fullname">
                <core-user-avatar [user]="user" slot="start" [linkProfile]="false" />
                <ion-label>
                    <p class="item-heading">{{ user!.fullname }}</p>
                    <ng-container *ngTemplateOutlet="submissionStatus" />
                </ion-label>
            </ion-item>
        }

        <!-- Status of the submission if user is blinded. -->
        @if (blindMarking && !user) {
            <ion-item class="ion-text-wrap">
                <ion-label>
                    <p class="item-heading">{{ 'addon.mod_assign.hiddenuser' | translate }} {{blindId}}</p>
                    <ng-container *ngTemplateOutlet="submissionStatus" />
                </ion-label>
            </ion-item>
        }

        <!-- Status of the submission in the rest of cases. -->
        @if ((blindMarking && user) || (!blindMarking && !user)) {
            <ion-item class="ion-text-wrap">
                <ion-label>
                    <p class="item-heading">{{ 'addon.mod_assign.submissionstatus' | translate }}</p>
                    <ng-container *ngTemplateOutlet="submissionStatus" />
                </ion-label>
            </ion-item>
        }

        <!-- Tabs: see the submission or grade it. -->
        <core-tabs [hideUntil]="loaded" parentScrollable="true" (ionChange)="tabSelected($event)">
            <!-- View the submission tab. -->
            <core-tab [title]="'addon.mod_assign.submission' | translate" id="submission">
                <ng-template>
                    <!-- Render some data about the submission. -->
                    @if (currentAttempt && !isGrading) {
                        <ion-item class="ion-text-wrap">
                            <ion-label>
                                <p class="item-heading">{{ 'addon.mod_assign.attemptnumber' | translate }}</p>
                                @if (assign!.maxattempts === unlimitedAttempts) {
                                    <p>
                                        {{ 'addon.mod_assign.outof' | translate :
                                {'$a': {'current': currentAttempt, 'total': maxAttemptsText} } }}
                                    </p>
                                }
                                @if (assign!.maxattempts !== unlimitedAttempts) {
                                    <p>
                                        {{ 'addon.mod_assign.outof' | translate :
                                {'$a': {'current': currentAttempt, 'total': assign!.maxattempts} } }}
                                    </p>
                                }
                            </ion-label>
                        </ion-item>
                    }

                    <!-- Submission is locked. -->
                    @if (lastAttempt?.locked) {
                        <ion-item class="ion-text-wrap">
                            <ion-label>
                                <p class="item-heading">{{ 'addon.mod_assign.submissionslocked' | translate }}</p>
                            </ion-label>
                        </ion-item>
                    }

                    <!-- Dates. -->
                    @if (showDates && fromDate && !isSubmittedForGrading) {
                        <ion-item class="ion-text-wrap">
                            <ion-label>
                                @if (assign!.intro) {
                                    <p [innerHTML]="'addon.mod_assign.allowsubmissionsfromdatesummary' | translate: {'$a': fromDate}">
                                    </p>
                                }
                                @if (!assign!.intro) {
                                    <p
                                        [innerHTML]="'addon.mod_assign.allowsubmissionsanddescriptionfromdatesummary' | translate: {'$a': fromDate}">
                                    </p>
                                }
                            </ion-label>
                        </ion-item>
                    }

                    @if (showDates && assign!.duedate && !isSubmittedForGrading) {
                        <ion-item class="ion-text-wrap">
                            <ion-label>
                                <p class="item-heading">{{ 'addon.mod_assign.duedate' | translate }}</p>
                                @if (assign!.duedate) {
                                    <p>{{ assign!.duedate * 1000 | coreFormatDate }}</p>
                                }
                                @if (!assign!.duedate) {
                                    <p>{{ 'addon.mod_assign.duedateno' | translate }}</p>
                                }
                            </ion-label>
                        </ion-item>
                    }

                    @if (assign!.duedate && assign!.cutoffdate && isSubmittedForGrading) {
                        <ion-item class="ion-text-wrap">
                            <ion-label>
                                <p class="item-heading">{{ 'addon.mod_assign.cutoffdate' | translate }}</p>
                                <p>{{ assign!.cutoffdate * 1000 | coreFormatDate }}</p>
                            </ion-label>
                        </ion-item>
                    }

                    @if (assign!.duedate && lastAttempt?.extensionduedate && !isSubmittedForGrading) {
                        <ion-item class="ion-text-wrap">
                            <ion-label>
                                <p class="item-heading">{{ 'addon.mod_assign.extensionduedate' | translate }}</p>
                                <p>{{ lastAttempt!.extensionduedate * 1000 | coreFormatDate }}</p>
                            </ion-label>
                        </ion-item>
                    }

                    <!-- Time remaining. -->
                    @if (timeRemaining || timeLimitEndTime > 0) {
                        <ion-item class="ion-text-wrap" [ngClass]="[timeRemainingClass]">
                            <ion-label>
                                <p class="item-heading">{{ 'addon.mod_assign.timeremaining' | translate }}</p>
                                @if (!timeLimitEndTime) {
                                    <p [innerHTML]="timeRemaining"></p>
                                }
                                @if (timeLimitEndTime > 0) {
                                    <core-timer [endTime]="timeLimitEndTime" mode="basic" timeUpText="00:00:00"
                                        [timeLeftClassThreshold]="-1" [underTimeClassThresholds]="[300, 900]" (finished)="timeUp()" />
                                }
                            </ion-label>
                        </ion-item>
                    }

                    <!-- Time limit. -->
                    @if (assign && assign.timelimit) {
                        <ion-item class="ion-text-wrap">
                            <ion-label>
                                <p class="item-heading">{{ 'addon.mod_assign.timelimit' | translate }}</p>
                                <p>{{ assign.timelimit | coreDuration }}</p>
                            </ion-label>
                        </ion-item>
                    }

                    <!-- Editing status. -->
                    @if (lastAttempt && isSubmittedForGrading && lastAttempt!.caneditowner !== undefined) {
                        <ion-item class="ion-text-wrap"
                            [ngClass]="{submissioneditable: lastAttempt!.caneditowner, submissionnoteditable: !lastAttempt!.caneditowner}">
                            <ion-label>
                                <p class="item-heading">{{ 'addon.mod_assign.editingstatus' | translate }}</p>
                                @if (lastAttempt!.caneditowner) {
                                    <p>{{ 'addon.mod_assign.submissioneditable' | translate }}</p>
                                }
                                @if (!lastAttempt!.caneditowner) {
                                    <p>{{ 'addon.mod_assign.submissionnoteditable' | translate }}</p>
                                }
                            </ion-label>
                        </ion-item>
                    }

                    <!-- Last modified. -->
                    @if (userSubmission && userSubmission!.status !== statusNew && userSubmission!.timemodified) {
                        <ion-item class="ion-text-wrap">
                            <ion-label>
                                <p class="item-heading">{{ 'addon.mod_assign.timemodified' | translate }}</p>
                                <p>{{ userSubmission!.timemodified * 1000 | coreFormatDate }}</p>
                            </ion-label>
                        </ion-item>
                    }

                    @for (plugin of submissionPlugins; track plugin) {
                        <addon-mod-assign-submission-plugin [assign]="assign" [submission]="userSubmission" [plugin]="plugin" />
                    }

                    <!-- Team members that need to submit it too. -->
                    @if (membersToSubmit && membersToSubmit.length > 0) {
                        <ion-item-divider class="ion-text-wrap">
                            <ion-label>
                                <h2>{{ 'addon.mod_assign.userswhoneedtosubmit' | translate: {$a: ''} }}</h2>
                            </ion-label>
                        </ion-item-divider>
                    }
                    @if (membersToSubmit && membersToSubmit.length > 0 && !blindMarking) {

                        @for (user of membersToSubmit; track user) {

                            <ion-item class="ion-text-wrap" core-user-link [userId]="user.id" [courseId]="courseId"
                                [attr.aria-label]="user.fullname">
                                <core-user-avatar [user]="user" slot="start" [linkProfile]="false" />
                                <ion-label>
                                    <p class="item-heading">{{ user.fullname }}</p>
                                </ion-label>
                            </ion-item>

                        }

                    }
                    @if (membersToSubmit && membersToSubmit.length > 0 && blindMarking) {

                        @for (blindId of membersToSubmitBlind; track blindId) {

                            <ion-item class="ion-text-wrap">
                                <ion-label>{{ 'addon.mod_assign.hiddenuser' | translate }} {{ blindId }}</ion-label>
                            </ion-item>

                        }

                    }

                    <!-- Edit and remove buttons. -->
                    @if (loaded && !isSubmittedForGrading && canEdit && !unsupportedEditPlugins.length &&
                            !showErrorStatementEdit && (editedOffline || (!removedOffline && userSubmission?.status &&
                                userSubmission?.status !== statusNew && userSubmission?.status !== statusReopened))) {
                        <div class="list-item-limited-width">
                            <div class="adaptable-buttons-row">
                                <ion-button expand="block" fill="outline" class="ion-margin ion-text-wrap" (click)="goToEdit()">
                                    <ion-icon name="fas-pen" slot="start" aria-hidden="true" />
                                    {{ 'addon.mod_assign.editsubmission' | translate }}
                                </ion-button>
                                @if (isRemoveAvailable) {
                                    <ion-button fill="outline" expand="block" class="ion-margin ion-text-wrap" (click)="remove()">
                                        <ion-icon name="fas-trash" color="danger" slot="start" aria-hidden="true" />
                                        {{ 'addon.mod_assign.removesubmission' | translate }}
                                    </ion-button>
                                }
                            </div>
                        </div>
                    }

                    <!-- Add and submit buttons. -->
                    @if (loaded && !isSubmittedForGrading) {
                        <div collapsible-footer [hidden]="selectedTab !== 'submission'" slot="fixed">
                            @if (canEdit || canSubmit) {
                                <div class="list-item-limited-width">
                                    @if (canEdit) {

                                        @if (!unsupportedEditPlugins.length && !showErrorStatementEdit) {
                                            <div class="adaptable-buttons-row">
                                                <!-- If no submission or is new, show add submission. -->
                                                @if (
                                            !editedOffline &&
                                                (removedOffline || !userSubmission || !userSubmission!.status ||
                                                userSubmission!.status === statusNew)) {
                                                    <ion-button expand="block" class="ion-margin ion-text-wrap" (click)="goToEdit()">
                                                        @if (!assign?.timelimit || userSubmission?.timestarted) {

                                                            {{ 'addon.mod_assign.addsubmission' | translate }}

                                                        }
                                                        @if (assign?.timelimit && (!userSubmission || !userSubmission.timestarted)) {

                                                            {{ 'addon.mod_assign.beginassignment' | translate }}

                                                        }
                                                    </ion-button>
                                                }
                                                <!-- If reopened, show addfromprevious and addnewattempt. -->
                                                @if (!editedOffline && !removedOffline && userSubmission?.status === statusReopened) {

                                                    @if (!isPreviousAttemptEmpty) {
                                                        <ion-button expand="block" class="ion-margin ion-text-wrap"
                                                            (click)="copyPrevious()">
                                                            {{ 'addon.mod_assign.addnewattemptfromprevious' | translate }}
                                                        </ion-button>
                                                    }
                                                    <ion-button expand="block" class="ion-margin ion-text-wrap" (click)="goToEdit()">
                                                        {{ 'addon.mod_assign.addnewattempt' | translate }}
                                                    </ion-button>

                                                }
                                            </div>
                                        }
                                        @if ((unsupportedEditPlugins.length && !showErrorStatementEdit)|| showErrorStatementEdit) {
                                            <ion-item class="core-danger-item ion-text-wrap">
                                                <ion-label>
                                                    @if (unsupportedEditPlugins && unsupportedEditPlugins.length && !showErrorStatementEdit) {

                                                        <p class="ion-padding-horizontal">
                                                            {{ 'addon.mod_assign.erroreditpluginsnotsupported' | translate }}
                                                        </p>
                                                        <ul>
                                                            @for (name of unsupportedEditPlugins; track name) {
                                                                <li>{{ name }}</li>
                                                            }
                                                        </ul>
                                                        @if (submissionUrl) {
                                                            <ion-button expand="block" [href]="submissionUrl" core-link
                                                                [showBrowserWarning]="false">
                                                                {{ 'core.openinbrowser' | translate }}
                                                                <ion-icon name="fas-up-right-from-square" slot="end" aria-hidden="true" />
                                                            </ion-button>
                                                        }


                                                    }
                                                    @if (showErrorStatementEdit) {

                                                        <p>{{ 'addon.mod_assign.cannoteditduetostatementsubmission' | translate }}</p>

                                                    }
                                                </ion-label>
                                            </ion-item>
                                        }


                                    }

                                    <!-- Submit for grading form. -->
                                    @if (canSubmit) {

                                        @if (submissionStatement) {
                                            <ion-item class="ion-text-wrap">
                                                <ion-checkbox name="submissionstatement" [(ngModel)]="acceptStatement">
                                                    <core-format-text [text]="submissionStatement" [filter]="false" />
                                                </ion-checkbox>
                                            </ion-item>
                                        }
                                        <!-- Submit button. -->
                                        @if (!showErrorStatementSubmit) {
                                            <ion-item class="ion-text-wrap">
                                                <ion-label>
                                                    <ion-button expand="block" class="ion-text-wrap ion-no-margin ion-margin-bottom"
                                                        (click)="submitForGrading(acceptStatement)">
                                                        {{ 'addon.mod_assign.submitassignment' | translate }}
                                                    </ion-button>
                                                    <p>
                                                        <ion-icon name="fas-circle-info" color="info" aria-hidden=" true" />
                                                        {{ 'addon.mod_assign.submitassignment_help' | translate }}
                                                    </p>
                                                </ion-label>
                                            </ion-item>
                                        }
                                        <!-- Error because we lack submissions statement. -->
                                        @if (showErrorStatementSubmit) {
                                            <ion-item class="ion-text-wrap">
                                                <ion-label>
                                                    <p class="core-danger-item">
                                                        {{ 'addon.mod_assign.cannotsubmitduetostatementsubmission' | translate }}
                                                    </p>
                                                </ion-label>
                                            </ion-item>
                                        }

                                    }
                                </div>
                            }
                            <core-course-module-navigation [courseId]="courseId" [currentModuleId]="moduleId" />
                        </div>
                    }
                </ng-template>
            </core-tab>

            <!-- Grade the submission tab. -->
            @if (feedback || isGrading) {
                <core-tab [title]="'addon.mod_assign.grade' | translate" id="grade">
                    <ng-template>
                        <!-- Current grade if method is advanced. -->
                        @if (feedback?.gradefordisplay && (!isGrading || grade.method !== 'simple')) {
                            <ion-item class="ion-text-wrap core-grading-summary">
                                <ion-label>
                                    <p class="item-heading">{{ 'addon.mod_assign.currentgrade' | translate }}</p>
                                    <p>
                                        <core-format-text [text]="feedback!.gradefordisplay" [filter]="false" />
                                    </p>
                                </ion-label>
                                @if (feedback!.advancedgrade) {
                                    <ion-button slot="end" (click)="showAdvancedGrade()" [ariaLabel]="'core.showadvanced' |translate">
                                        <ion-icon name="fas-magnifying-glass" slot="icon-only" aria-hidden="true" />
                                    </ion-button>
                                }
                            </ion-item>
                        }

                        @if (isGrading) {

                            <!-- Numeric grade.
                        Use a text input because otherwise we cannot readthe value if it has an invalid character. -->
                            @if (grade.method === 'simple' && !grade.scale) {
                                <ion-item class="ion-text-wrap">
                                    @if (!grade.disabled) {
                                        <ion-input type="text" [(ngModel)]="grade.grade" min="0" [max]="gradeInfo!.grade"
                                            [lang]="grade.lang" [label]="'addon.mod_assign.gradeoutof' | translate: {$a: gradeInfo!.grade}"
                                            labelPlacement="stacked"
                                            [helperText]="grade.disabled ? ('addon.mod_assign.gradelocked' | translate) : null" />
                                    }
                                </ion-item>
                            }

                            <!-- Grade using a scale. -->
                            @if (grade.method === 'simple' && grade.scale) {
                                <ion-item class="ion-text-wrap">
                                    <ion-select [(ngModel)]="grade.grade" interface="action-sheet" [disabled]="grade.disabled"
                                        [cancelText]="'core.cancel' | translate"
                                        [interfaceOptions]="{header: 'addon.mod_assign.grade' | translate}">
                                        <p class="item-heading" slot="label">{{ 'addon.mod_assign.grade' | translate }}</p>
                                        @for (grade of grade.scale; track grade) {
                                            <ion-select-option [value]="grade.value">
                                                {{grade.label}}
                                            </ion-select-option>
                                        }
                                    </ion-select>
                                </ion-item>
                            }

                            <!-- Outcomes. -->
                            @for (outcome of gradeInfo!.outcomes; track outcome) {
                                <ion-item class="ion-text-wrap">
                                    @if (canSaveGrades && outcome.itemNumber) {
                                        <ion-select [(ngModel)]="outcome.selectedId" interface="action-sheet"
                                            [disabled]="!!gradeInfo!.disabled" [cancelText]="'core.cancel' | translate"
                                            [interfaceOptions]="{header: outcome.name }">
                                            <p class="item-heading" slot="label">{{ outcome.name }}</p>
                                            @for (grade of outcome.options; track grade) {
                                                <ion-select-option [value]="grade.value">
                                                    {{grade.label}}
                                                </ion-select-option>
                                            }
                                        </ion-select>
                                    }
                                    @if (!canSaveGrades || !outcome.itemNumber) {
                                        <p>{{ outcome.selected }}</p>
                                    }
                                </ion-item>
                            }

                            <!-- Assign grade if it wasn't released to gradebook. -->
                            @if (gradeInfo && grade.unreleasedGrade !== undefined) {
                                <ion-item class="ion-text-wrap">
                                    <ion-label>
                                        <p class="item-heading">{{ 'addon.mod_assign.currentassigngrade' | translate }}</p>
                                        @if (grade.method !== 'simple' || !grade.scale) {
                                            <p>{{ grade.unreleasedGrade}} / {{ gradeInfo.grade }}</p>
                                        }
                                        @if (grade.method === 'simple' && grade.scale) {
                                            <p>{{ grade.unreleasedGrade }}</p>
                                        }
                                    </ion-label>
                                </ion-item>
                            }

                            <!-- Gradebook grade for simple grading. -->
                            @if (grade.method === 'simple') {
                                <ion-item class="ion-text-wrap">
                                    <ion-label>
                                        <p class="item-heading">{{ 'addon.mod_assign.currentgrade' | translate }}</p>
                                        @if (grade.gradebookGrade && !grade.scale) {
                                            <p>
                                                {{ grade.gradebookGrade }}
                                            </p>
                                        }
                                        @if (grade.gradebookGrade && grade.scale) {
                                            <p>
                                                {{ grade.scale[grade.gradebookGrade].label }}
                                            </p>
                                        }
                                        @if (!grade.gradebookGrade) {
                                            <p>-</p>
                                        }
                                    </ion-label>
                                </ion-item>
                            }

                        }

                        @if (feedback) {

                            @for (plugin of feedback.plugins; track plugin) {
                                <addon-mod-assign-feedback-plugin [assign]="assign" [submission]="userSubmission" [userId]="submitId"
                                    [plugin]="plugin" [canEdit]="canSaveGrades" />
                            }

                        }

                        <!-- Workflow status. -->
                        @if (workflowStatusTranslationId) {
                            <ion-item class="ion-text-wrap">
                                <ion-label>
                                    <p class="item-heading">{{ 'addon.mod_assign.markingworkflowstate' | translate }}</p>
                                    <p>{{ workflowStatusTranslationId | translate }}</p>
                                </ion-label>
                            </ion-item>
                        }

                        <!--- Apply grade to all team members. -->
                        @if (assign!.teamsubmission && canSaveGrades) {
                            <ion-item class="ion-text-wrap">
                                <ion-toggle [(ngModel)]="grade.applyToAll">
                                    <p class="item-heading">{{ 'addon.mod_assign.groupsubmissionsettings' | translate }}</p>
                                    <p>{{ 'addon.mod_assign.applytoteam' | translate }}</p>
                                </ion-toggle>
                            </ion-item>
                        }

                        <!-- Attempt status. -->
                        @if (isGrading && assign!.attemptreopenmethod !== attemptReopenMethodNone) {

                            <ion-item class="ion-text-wrap">
                                <ion-label>
                                    <p class="item-heading">{{ 'addon.mod_assign.attemptsettings' | translate }}</p>
                                    @if (assign!.maxattempts === unlimitedAttempts) {
                                        <p>
                                            {{ 'addon.mod_assign.outof' | translate :
                                    {'$a': {'current': currentAttempt, 'total': maxAttemptsText} } }}
                                        </p>
                                    }
                                    @if (assign!.maxattempts !== unlimitedAttempts) {
                                        <p>
                                            {{ 'addon.mod_assign.outof' | translate :
                                    {'$a': {'current': currentAttempt, 'total': assign!.maxattempts} } }}
                                        </p>
                                    }
                                    <p>
                                        {{ 'addon.mod_assign.attemptreopenmethod' | translate }}:
                                        {{ 'addon.mod_assign.attemptreopenmethod_' + assign!.attemptreopenmethod | translate }}
                                    </p>
                                </ion-label>
                            </ion-item>
                            @if (canSaveGrades && allowAddAttempt) {
                                <ion-item>
                                    <ion-toggle [(ngModel)]="grade.addAttempt">
                                        <p>{{ 'addon.mod_assign.addattempt' | translate }}</p>
                                    </ion-toggle>
                                </ion-item>
                            }

                        }

                        <!-- Data about the grader (teacher who graded). -->
                        @if (grader) {
                            <ion-item class="ion-text-wrap" core-user-link [userId]="grader.id" [courseId]="courseId"
                                [attr.aria-label]="grader.fullname" [detail]="true">
                                <core-user-avatar [user]="grader" slot="start" [linkProfile]="false" />
                                <ion-label>
                                    <p class="item-heading">{{ 'addon.mod_assign.gradedby' | translate }}</p>
                                    <p class="item-heading">{{ grader.fullname }}</p>
                                    @if (feedback!.gradeddate) {
                                        <p>{{ feedback!.gradeddate * 1000 | coreFormatDate }}</p>
                                    }
                                </ion-label>
                            </ion-item>
                        }

                        <!-- Grader is hidden, display only the grade date. -->
                        @if (!grader && feedback?.gradeddate) {
                            <ion-item class="ion-text-wrap">
                                <ion-label>
                                    <p class="item-heading">{{ 'addon.mod_assign.gradedon' | translate }}</p>
                                    <p>{{ feedback!.gradeddate * 1000 | coreFormatDate }}</p>
                                </ion-label>
                            </ion-item>
                        }

                        <!-- Warning message if cannot save grades. -->
                        @if (isGrading && !canSaveGrades) {
                            <ion-card class="core-warning-card">
                                <ion-item>
                                    <ion-icon name="fas-triangle-exclamation" slot="start" aria-hidden="true" />
                                    <ion-label>
                                        <p>{{ 'addon.mod_assign.cannotgradefromapp' | translate }}</p>
                                        @if (gradeUrl) {
                                            <ion-button expand="block" [href]="gradeUrl" core-link [showBrowserWarning]="false">
                                                {{ 'core.openinbrowser' | translate }}
                                                <ion-icon name="fas-up-right-from-square" slot="end" aria-hidden="true" />
                                            </ion-button>
                                        }
                                    </ion-label>
                                </ion-item>
                            </ion-card>
                        }
                    </ng-template>
                </core-tab>
            }
        </core-tabs>
    </div>
</core-loading>

<!-- Template to render some data regarding the submission status. -->
<ng-template #submissionStatus>
    @if (assign && assign!.teamsubmission && lastAttempt) {

        @if (lastAttempt.submissiongroup && lastAttempt.submissiongroupname) {
            <p class="core-groupname">
                <core-format-text [text]="lastAttempt.submissiongroupname" contextLevel="course" [contextInstanceId]="courseId"
                    [wsNotFiltered]="true" />
            </p>
        }
        @if (assign!.preventsubmissionnotingroup &&
            !lastAttempt!.submissiongroup &&
            (!lastAttempt!.usergroups || lastAttempt!.usergroups.length <= 0)) {

            <p class="text-danger"><strong>{{ 'addon.mod_assign.noteam' | translate }}</strong></p>
            <p class="text-danger">{{ 'addon.mod_assign.noteam_desc' | translate }}</p>

        }
        @if (assign!.preventsubmissionnotingroup &&
            !lastAttempt!.submissiongroup &&
            lastAttempt!.usergroups &&
            lastAttempt!.usergroups.length > 1) {

            <p class="text-danger"><strong>{{ 'addon.mod_assign.multipleteams' | translate }}</strong></p>
            <p class="text-danger">{{ 'addon.mod_assign.multipleteams_desc' | translate }}</p>

        }
        @if (!assign!.preventsubmissionnotingroup && !lastAttempt!.submissiongroup) {
            <p>
                {{ 'addon.mod_assign.defaultteam' | translate }}
            </p>
        }

    }
    <p>
        @if (statusTranslated) {
            <ion-badge [color]="statusColor" class="ion-text-wrap ion-text-start">
                {{ statusTranslated }}
            </ion-badge>
        }
        @if (gradingStatusTranslationId) {
            <ion-badge class="ion-text-wrap ion-text-start" [color]="gradingColor">
                {{ gradingStatusTranslationId | translate }}
            </ion-badge>
        }
    </p>
</ng-template>
