@use "theme/globals" as *;

@mixin inline() {
    &:not(.core-loading-loaded) {
        min-height: calc(var(--internal-loading-inline-min-height) + 32px);
        width: 100%;
        position: relative;
    }

    .core-loading-container {
        --loading-background: rgba(var(--loading-background-inline), 0.4);
        flex-direction: row;
        height: auto;

        .core-loading-message {
            @include margin(0px, 0px, 0px, 16px);
        }
    }
}

:host {
    --loading-background: var(--ion-background-color);
    --loading-background-inline: var(--ion-background-color-rgb);
    --loading-spinner: var(--core-loading-spinner);
    --loading-text-color: var(--ion-text-color);
    --loading-inline-margin: 0px;
    --loading-inline-min-height: 28px;
    --internal-loading-inline-min-height: var(--loading-inline-min-height);
    --loading-display: flex;
    --loading-display-message: block;
    --contents-display: block;
    --loading-placeholder-direction: row;
    --loading-placeholder-justify: center;
    --loading-placeholder-wrap: wrap;

    @include core-transition(all, 200ms);
    display: var(--contents-display);

    &.core-loading-loaded {
        position: static;
        --contents-display: contents;
        --internal-loading-inline-min-height: 0px;

        &.has-spacer {
            --contents-display: flex;
            min-height: 100%;
            flex-direction: column;
        }
    }

    .core-loading-container {
        pointer-events: none;
        position: absolute;
        @include position(0, 0, 0, 0);
        height: 100%;
        width: 100%;
        z-index: 100;
        margin: 0;
        padding: 0;
        color: var(--loading-text-color);
        background-color: var(--loading-background);
        @include core-transition(all, 200ms);
        display: var(--loading-display);
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .core-loading-message {
            @include margin(16px, 0, 0, 0);
            display: var(--loading-display-message);
        }

        ion-spinner {
            --color: var(--loading-spinner);
            color: var(--color);
        }

        .placeholder {
            position: absolute;
            @include position(0, 0, 0, 0);
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: var(--loading-placeholder-direction);
            padding: 16px;
            gap: 16px;
            flex-wrap: var(--loading-placeholder-wrap);
            justify-content: var(--loading-placeholder-justify);
            align-items: center;
            overflow: hidden;

            .placeholder-element {
                width: 100px;
                height: 100px;
                background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
                background-size: 200% 100%;
                animation: core-loading 5s infinite ease-in-out;
                border-radius: 8px;
                flex-shrink: 0;
            }

            &.rounded {
                padding: 4px;
                gap: 12px;

                .placeholder-element {
                    width: 48px;
                    height: 48px;
                    border-radius: 100%;
                }
            }
        }
    }

    &.core-loading-inline {
       @include inline();
    }
}

// Force inline on some contexts.
:host-context(ion-item),
:host-context(core-block) {
    // Implicit Inline.
    @include inline();
}

@keyframes core-loading {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
}
